.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 8px 0;
  text-align: center;
}

.picture {
  align-self: center;
}

.disclaimer {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  text-align: left;
}
